@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
        font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

    background-color: rgb(37, 37, 37);
    color: white;
}

header {
    width: 100%;
    height: 5vh;
}

header>nav {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: solid 1px aquamarine;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

header>nav>a {
    text-decoration: none;
    color: white;

}

header>nav>a:hover {
    text-decoration:underline;
}
header > nav > #alternate-bar{
    padding: 4px;
    background-color: rgb(61, 61, 61);
    border: none;
    border-radius: 4px;
    width: auto;
    height: auto;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 30vw;
    width: 100%;
    height: 100vh;
    margin-top: 2%;
}
main.sidebar-hidden{
    grid-template-columns: 1fr 0px;
    transition: grid-template-columns 0.3s ease-in;

}


.vertical-bar {
    background-color: rgb(37, 37, 37);
    width: 30vw;
    position: fixed;
    right: 0px;
    top: 5vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: none;
    border-left: 1px solid gray;
    transform: 0.3s ease;
}
.vertical-bar.hidden{
    transform: translateX(100%);
    transition: 0.3s ease-in;
}
.vertical-bar #id-separetor{
    height: 1px;
    width: 100%;
    border: solid 1px aquamarine;
    border-top: none;
    margin-block: 15px;
}
.vertical-bar>input {
    width: 90%;
    height: 40px;
    background-color:rgb(37, 37, 37);
    border: solid rgb(80,80,80) 1px;
    border-radius: 10px;
    padding-inline: 10px;
}

.vertical-bar  input:focus{
      outline: none;
    border-color: aquamarine;
    background-color: rgb(65, 65, 65);
    box-shadow: 0 0 0 3px rgba(127, 255, 212, 0.1);
}

.vertical-bar>label {
    width: 20vw;
    max-width: 250px;
    color: aquamarine;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.vertical-bar>#Save-changes {
    background-color: aquamarine;
    margin-block: 50px;
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}


.User-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.User-container > #generate-users{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 7vh;
    border: solid 1px rgb(87, 87, 87);
    background-color:transparent;
    border-radius: 1vh;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(15px,2vh,4vh);
    transition: 0.3s ease;
}
.User-container > #generate-users:hover{
    border: solid aquamarine 1px;
    background-color: rgb(87, 87, 87);
}
.users{
    padding: 20px;
    column-gap: 13px;
    width: 100%;
}

.pages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 40px;
}
.pages > button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border:solid rgb(87, 87, 87) 1px;
    border-radius: 5px;
    color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    transition: 0.3s ease-in-out;
}
.pages > button:hover{
   border: solid aquamarine 1px;
   background-color: rgb(87, 87, 87);
}



.User-box {
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: auto;
    margin-block: 12px;
    gap: 10px;
    border-radius: 20px;
}
.User-box > #non-changeble-div{
    color: transparent;
    display: flex;
    flex-direction:row;
}
.User-box > #non-changeble-div > h3:last-of-type{
    margin-left: auto;
    margin-right: 0;

}
.User-box > #other-divs{
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: rgb(37, 37, 37);
    border: none;
    border-radius: 10px;
}
.User-box > div > h3{
    color: rgb(87, 87, 87);
    margin-right: 8px;
}
.User-box > div > abbr {
    font-size: clamp(3vh, medium, 5vw);
    max-width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: whitesmoke;
}
.User-box > abbr:hover{
    cursor:default;
}